.cls-1 {
  fill:#fff7e6;
}
.cls-1,.cls-2,.cls-4 {
  opacity:0.86;
}
.cls-2 {
  fill:#ffda8f;
}
.cls-3 {
  opacity:0.83;
}
.cls-4 {
  fill:url(#linear-gradient);
}
.cls-5 {
  fill:#ffefcc;
}
.cls-6 {
  fill:#404040;
}
