body {
  margin: 0px;
}

.cls-1 {
  fill:#fdfdfd;
}
.kindling:hover .cls-3{
  fill:#e25822;
}
.cls-2 {
  fill:#442d1a;
}

.cls-3 {
  transition: fill;
  transition-timing-function: ease;
  transition-duration: 1000ms;
  fill:#ffb82c;
}

.kindling {
  width: 180px;
}

.TastyAppyBoy {  
  color: #404040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#f47421, #FF893C);
  height: 100%;
  font-size: 24px;
  font-family: Sans-Serif;
}

.RowRowRowTheBoat {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.ButtonyBoy {
  cursor: pointer;
  margin-top: 20px;
  padding: 16px;
  border-radius: 8px;
  background-color: #404040;
  color: white;
  transition: background-color;
  transition-duration: 200ms;
  text-align: center;
}

.ButtonyBoy:hover {
  background-color: #545454;
}

.Hello {
  font-size: 36px;
  min-width: 0;
  margin-bottom: 70px;
  position: relative;
}

.Text {
  text-shadow: 0 0 15px #21A1F4;
  color: white;
  letter-spacing: .1em;
  margin-left: 10px;
  position: absolute;
}

.Bane {
  height: auto;
  width: 300px;
}

.Text-enter {
  opacity: 0.01;
  top: 50px;
}

.Text-enter.Text-enter-active {
  opacity: 1;
  top: 0px;
  transition-property: opacity, top;
  transition-duration: 700ms;
  transition-timing-function: linear;
}

.Text-exit {
  opacity: 1;
  top: 0px;
}

.Text-exit.Text-exit-active {
  opacity: 0.01;
  top: -50px;
  transition-property: opacity, top;
  transition-duration: 700ms;
  transition-timing-function: linear;
}

@media screen and (max-width: 600px) {
  .RowRowRowTheBoat {
    flex-direction: column;
  }

  .HelloButOusideAndUp {
    text-align: left;
    padding: 0px 40px;
    width: -webkit-fill-available;
  }

  .ButtonyBoy {
    width: 220px;
  }

  .TastyAppyBoy, .ButtonyBoy {
    font-size: 20px;
  }

  .Hello {
    font-size: 20px;
    min-width: 0;
    margin-bottom: 30px;
    position: relative;
  }

  .Text-enter {
    top: 25px;
  }
  
  .Text-leave.Text-leave-active {
    top: -25px;
  }
}