body {
  margin: 0px;
}

.TastyAppyBoy {  
  color: #21EBF4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#f47421, #FF893C);
  height: 100%;
  font-size: 24px;
  font-family: Sans-Serif;
}

.RowRowRowTheBoat {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.LinkyBoy {
  margin-top: 20px;
  color: #21EBF4;
}

.Hello {
  font-size: 36px;
  min-width: 0;
  margin-bottom: 70px;
  position: relative;
}

.Text {
  color: white;
  margin-left: 10px;
  position: absolute;
}

.Bane {
  height: auto;
  width: 300px;
}

.Text-enter {
  opacity: 0.01;
  top: 50px;
}

.Text-enter.Text-enter-active {
  opacity: 1;
  top: 0px;
  transition-property: opacity, top;
  transition-duration: 700ms;
  transition-timing-function: linear;
}

.Text-leave {
  opacity: 1;
  top: 0px;
}

.Text-leave.Text-leave-active {
  opacity: 0.01;
  top: -50px;
  transition-property: opacity, top;
  transition-duration: 700ms;
  transition-timing-function: linear;
}
